.home {
   
    background-image: url('https://images8.alphacoders.com/525/525864.jpg');
    height: 89vh;
    background-repeat: no-repeat;
    width: 100%;


    display: flex;
}


h1, h2, h3{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: midnightblue;
    font-size: 50px;
 
    display: flex;
  
    justify-content: right;
    font-weight: bold;
    padding: 5px;
  
}
.form-and-p{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    box-sizing: border-box;
    border-color: chartreuse;
    position: relative;
    justify-content: flex-end;
    padding: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 25%;
    height: 700px;
    border: 2px solid black;
    top: -300px; 
    right: 100px; 
    bottom: 0;
    justify-content: right;
    position: absolute;
    background-color: white;
}
input{
    padding: 5px;
    height: 50px;
    font-size: xx-large;
    font-weight: lighter;
}
label{
    padding: 15px;
}
.cap{
    font-family: 'Barlow Condensed', sans-serif;
    color: midnightblue;
    font-weight: bold;
    font-size: 35px;
}
.button{
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: midnightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.land{
    
    top: 0; 
    right: 0; 
     
    justify-content: right;
    position: absolute;
}
body {
    margin: 0;
    padding: 0;
  
   
   
    
}

